# Created by https://www.toptal.com/developers/gitignore/api/php,composer

### Composer ###
composer.phar
/vendor/

.env.local
var/cache/
/var/evidence/
/var/log/
.phpunit.cache
.phpunit.result.cache

/node_modules/
.DS_Store
